.app {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  
  /*background: url('./00a0f-sw-531542.png') ;    
  background-size: cover;*/
  
}

.authFormContainer{
  display: flex;
  flex-direction: column; 
  align-items: center;
  background: url('./00a0f-sw-531542.png' );
  /*opacity: 0.5;*/
  width: 100%;
  height: 100vh;
  background-size: cover;
  /*padding: 5rem;*/
}

.registerForm{

  border: 2px solid salmon;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background: transparent;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 30%;
  height: 50vh;
 

}
.loginForm{
  border: 2px solid salmon;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background: transparent;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 30%;
  height: 50vh;
  /*background-color: rgb(235, 183, 29);*/


}
.calendarForm{

}



.label{
  text-align: left;
  padding: 0.25rem 0;
  background-color: crimson;

  
}

.input{
  margin: 0.5em 0;
  padding: 1rem;
  outline: 0;
  border: 1px solid rgb(1, 0, 2) ;
  /*border-radius: 10px;*/
  border-radius: 5px;
  background-color: rgb(179, 27, 27); 
  background: transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.button {
  border: none;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.linkBtn{
  background: rgb(201, 135, 43);
  color: rgb(255, 255, 255);
  text-decoration: underline;
  width: 50vh;
  height: 5vh;
}

.input-container2{
  margin: 0.5em 0;
  padding: 1rem;
  border: 10px rgb(1, 0, 2);
  /*border-radius: 10px;*/
  border-radius: 5px;
  background-color: rgb(0, 0, 0); 
  background: transparent;
} 